<md-content layout="column" flex class="layout-padding">
    <md-content layout="row" flex layout-wrap>
        <div layout="column" flex="50">
            <md-input-container class="md-headline">
                <label>Plan Name</label>
                <input ng-model="plan.name"/>
            </md-input-container>
        </div>
        <div layout="column" layout-align="top end" flex="50">
            <md-button class="md-fab md-primary md-hue-2" ng-click="$ctrl.addCategory(category)">
                    <!-- below is the material icons -->
                <md-icon class="material-icons">add</md-icon>
            </md-button>
        </div>
    </md-content>
    <md-content layout="row" flex layout-wrap>
        <div layout="column" flex="50" ng-repeat="category in $ctrl.plan.categories">
            <div layout="row">
                <md-input-container flex class="md-icon-float md-block md-title">
                    <label>Goal</label>
                    <input type="text" ng-model="category.name" flex/>
                </md-input-container>
                <div>
                    <md-button class="md-fab md-primary md-hue-2 md-mini" ng-click="$ctrl.addSubCategory(category)">
                    <!-- below is the material icons -->
                        <md-icon class="material-icons">add</md-icon>
                    </md-button>
                </div>
            </div>  
            <div layout="row" ng-repeat="subCategory in category.subCategories">
                <md-input-container flex class="md-caption">
                    <label>Goal Task</label>
                    <input ng-model="subCategory.name"/>
                </md-input-container>
            </div>
        </div>
    </md-content>
    <div layout="row" flex layout-align="end center">
        <md-button class="md-raised  md-primary">Save</md-button>
    </div>
</md-content>