<md-content layout="row" class="layout-padding" flex>
    <div class="md-display-1" flex>{{$ctrl.plan.name}}</div>
    <div class="md-headline" layout="column" flex layout-align="center end">{{$ctrl.todayDate | date: 'MM-dd-yyyy'}}</div>
</md-content>
<md-content layout="row" class="layout-padding" flex layout-wrap>
    <div layout="column" flex="50" ng-repeat="planCategory in $ctrl.planCategories" style="padding-bottom: 35px;">
        <div layout="column" class="md-title">
            <b>{{planCategory.name}}</b><br/>
        </div>
        <div layout="column" ng-repeat="subCategory in planCategory.subCategories track by $index">
            <span layout="column" class="md-subhead">{{subCategory.name}}</span>
            <md-slider-container>
                <md-slider flex min="0" max="10" ng-model="subCategory.score" aria-label="subCategory-score-${subCategoryIndex}" id="subCategory-score-${index}">
                </md-slider>
                <md-input-container>
                <input flex type="number" ng-model="subCategory.score" aria-label="subCategory-score-${subCategoryIndex}" aria-controls="subCategory-score-${index}">
                </md-input-container>
            </md-slider-container>
        </div>
    </div>
</md-content>
<md-content layout="column" class="layout-padding" flex layout-wrap style="background-color: #FFFFFF">
    <div layout="row" flex layout-align="end center">
        <md-button class="md-raised  md-primary">Save</md-button>
    </div>
</md-content>