<md-content layout="column" class="content-panel">
    <highchart id="chart1" config="$ctrl.weeklyPlanProgressChartOptions" class="mdl-cell--12-col" flex layout="column"></highchart>
    <highchart id="chart2" config="$ctrl.weeklyPlanCategoryProgress" class="mdl-cell--12-col" flex layout="column" ></highchart>
    <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised  md-primary md-hue-1" ng-repeat="category in $ctrl.categories" ng-click="$ctrl.displayWeeklyPlanCategoryProgress(category.id)">{{category.name}}</md-button>
    </div>
</md-content>

<highchart id="chart3" config="$ctrl.overallPlanCategoryProgressChartOptions" flex layout="column"></highchart>